.thread-title-bottom {
    position: absolute;
    display: block;
    font-size: 11px;
    bottom: 11px;
    right: 16px;
}

.thread-btn {
    background-color: #FFF;
    color: #757575;
    border: 0px solid #757575;
    border-radius: 4px;
    padding: 5px 9px
}


.comment-profile-img img {
    object-fit: cover;
} 

.reply-modify-thread-btn:hover {
   background-color: #F0F0F0;
   color: #286090;
   /* border: 0px solid #F9F9F9; */
   
}


.reply:hover {
  background-color: #F0F0F0;
  color: #286090;
}

.like:hover {
  background-color: #F0F0F0;
  color: #5cec3b;
}

.comment-image {
    margin: 1em;
    width: 400;
    height: 200;
}

.comment {
    margin-top: 4px;
    margin-bottom: .3em;
    background-color: white;
    padding: 16px;
    /*border: 1px solid gray;*/
    /*box-shadow: 0px 2px gray; */
    position: relative;
}

.comment img {
    max-width: 100%;
}

.comment .profile-img {
  position: absolute;
    /* margin-left: -4px;
    margin-right: 6px; */
    border: 1px solid #E7E7E7;
    border-radius: 100%;
    margin: -3px 0 0;
}

.comment-profile-img {

    /* padding: 5px; */
    margin: 0;

}

 .username, .comment .profile-img {
    /* margin-top: .05em; */
}


.comment-created {
    font-size: 12px;
    color: #9E9E9E;
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
}

.comment-message {
    /* padding: 0 5px 5px 5px;
    margin: 0; */
    margin-left: 63px;
    position: relative;
}


.comment-base a:hover {
    text-decoration: none;
    color: #337AB7;
}

.comment-ctrl {
  margin: 0 0 -10px -9px;
  color: #656565;
}