/* Paragraph and Thread div Styling */
p {
  font-family: Tahoma, Times, serif;
}
.thread {
    margin-top: 0em;
    background-color: #FFF;
    padding: 16px;
    border-radius: 3px;
    position: relative;
}

.thread-header {
    background-color: #E3F2FD !important;
}

.thread img {
    max-width: 100%;
}
/* End of Paragraph and Thread div Styling */

/* Thread Buttons Styling */

.thread-btn {
    background-color: #FFF;
    color: #757575;
    border: 0px solid #757575;
    border-radius: 4px;
    padding: 5px 9px
}

.thread-btn:active {
  border: 0px solid gray;
}
.thread-btn:focus {
  border: 0px solid gray;
}

.reply-modify-thread-btn:hover {
   background-color: #F0F0F0;
   color: #286090;
   /* border: 0px solid #F9F9F9; */
   
}



#follow-thread-btn:hover {
    background-color: green;
    color: #FFF;
    border: 2px solid green;
}

#unfollow-thread-btn:hover {
    background-color: #F0F0F0;
    color: #EF5350;
    /* border: 1px solid red; */
}

.thread-ctrl {
  margin: 0 0 -10px  -8px;
}
.thread-ctrl a {
    color: #757575;
}

.thread-ctrl a:hover {
    text-decoration: none
}

.reply:hover {
  background-color: #F0F0F0;
  color: #286090;
}

.like:hover {
  background-color: #F0F0F0;
  color: #5cec3b;
}

/* End of Thread Buttons Styling */

.thread-ctrl-bottom-right {
    position: absolute;
    bottom: 0px;
    right: 16px;
}

.thread-title a {
    color: #000;
    font-size: 2em;
    text-decoration: none;
}

.thread-user-info {
    color: gray;
    font-size: small;
}

.thread-user-info a {
    color: maroon;
    font-size: 14px;            
}

#thread-body {
    line-height: 1.5em;
    font-size: 16px;
}


.comment-image {
    margin: 1em;
    width: 400;
    height: 200;
}

.comment {
    margin-top: 4px;
    margin-bottom: .3em;
    background-color: white;
    padding: 16px;
    /*border: 1px solid gray;*/
    /*box-shadow: 0px 2px gray; */
    position: relative;
}

.comment img {
    max-width: 100%;
}

.comment .profile-img {
  position: absolute;
    /* margin-left: -4px;
    margin-right: 6px; */
    border: 1px solid #E7E7E7;
    border-radius: 100%;
    margin: -3px 0 0;
}

.comment-profile-img {

    /* padding: 5px; */
    margin: 0;

}

.comment-profile-img img {
    object-fit: cover;
}

 .username, .comment .profile-img {
    /* margin-top: .05em; */
}


.comment-created {
    font-size: 12px;
    color: #9E9E9E;
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
}

.comment-message {
    /* padding: 0 5px 5px 5px;
    margin: 0; */
    margin-left: 63px;
}


.comment-base a:hover {
    text-decoration: none;
    color: #337AB7;
}

.comment-ctrl {
  margin: 0 0 -10px -9px;
  color: #656565;
}

.thread-title-bottom {
    position: absolute;
    display: block;
    font-size: 11px;
    bottom: 13px;
    right: 16px;
}

.thread-title-bottom a {
    text-decoration: none;
    color: #9E9E9E !important;
}
