{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in to Forum{% endblock %}

{% block stylesheet %}
    <style type="text/css">
      body {
      background-color: #FFF;
    }

    .main {
      margin-left: 12%;
    }

    .password-change {
      width: 35%;
    }


a, a:hover, a:focus {
    color: #2860FF;
    text-decoration: none;
    transition: all 0.3s;
}
.password-forgot > a:hover {
  color: #000;
}

.signup > a:hover {
  text-decoration: underline;
}
  </style>
}
}
{% endblock %}

{% block sidebar_btn %}
{% endblock sidebar_btn %}


{% block sidebar %}
{% endblock sidebar %}


{% block content %}
    <div class="col-md-4 col-md-offset-3" style="margin-top: 2em" >
    <h4 style="font-size: 26px; margin-bottom: .6em;">Log in</h4>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>

    <div style="margin-top: 1em" class="text-muted text-center signup">
          New to Forum? <a href="{% url 'accounts:signup' %}">Sign up</a>
        </div>
      <div class="password-forgot text-center">        
          <a style="font-size: 12.5px;" href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
      </div>
    </div>

{% endblock %}
