{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load new_thread_tag %}
{% load forum_template_tags %}
{% load crispy_forms_tags %}


{% block stylesheet %}
   	<style type="text/css">
	    body {
			background-color: #FFF;
		}

		.main {
			margin-left: 38%;
		}

		.password-change {
			width: 35%;
		}
	</style>
{% endblock %}


{% block sidebar_btn %}
{% endblock sidebar_btn %}

{% block sidebar %}
{% endblock sidebar %}

{% block row %}

{% block content %}
    <div class="password-change" style="margin-bottom: 5em;">
      <h3 style="margin-bottom: 1em;" >Password Change</h3>
      <form method="post" novalidate>
        {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-block">Change Password</button>
      </form>
    </div>
{% endblock content %}

{% endblock row %}

