{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block stylesheet %}
    <style type="text/css">
      body {
      background-color: #FFF;
    }

    .main {
      margin-left: 11%;
    }

    .password-change {
      width: 35%;
    }


a, a:hover, a:focus {
    color: #2860FF;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
}
.password-forgot > a:hover {
  color: #000;
}

p > a:hover {
  text-decoration: underline;
}
  </style>
}
}
{% endblock %}

{% block sidebar_btn %}
{% endblock sidebar_btn %}


{% block sidebar %}
{% endblock sidebar %}


{% block content %}
    <div class="col-md-4 col-md-offset-3" style="margin-top: 2em" >
    <h3 style="font-size: 26px" class="text-center">Reset your password</h3>
    <p class="text-center">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
	<br><br><a href="{% url 'accounts:login' %}" class="text-center"> Return to log in</a>
    </p>
  </div>
{% endblock %}
