{% extends 'base.html' %}
{% load new_thread_tag %}

{% load static %}

{% block title %}Profile - {{ username }}{% endblock %}


{% block stylesheet %}
    <style type="text/css">



        /* Panel Styling */
        .tab-panel {
            display: none;
            background-color: #FFF;
            padding: 1em;
            border-radius: 4px;

        }

        .tab-panel.active {
            display: block;
            border-left: 4px solid #2962FF;
        }

        /* End of Panel Styling */

        /* Tab Styling */
        .tab-list {

            list-style-type: none
        }

        .tab-list li {
            padding: 9px;
            margin-bottom: 2px;

        }

        .tab-list li.active {
            background-color: #2962FF;
            color: #FFF;
            font-weight: bold;
        }

        .tab-list li {
            background-color: #673AB7;
            border-radius: 4px;
        }

        .tab-list li:hover {
            color: #000
            font-weight: bold;
        }

        .tab-list a {
            text-decoration: none;
            color: #FFF;
        }

        .tab-list a:focus {
            color: #263238;
        }

        .tab-list a:hover {
            color: #263238;

        }

        /* End of Tab Styling */

        /* User Profile Picture Styling */
        .user-profile-change-header {
            text-align: center;
        }

        #userprofile-img {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            border: 1px solid #F5F5F5;
        }

        .userprofile-control-img-btn {
            display: block;
            margin: 0 auto;
            width: 150px;
            border-radius: 3px;
        }

        #falseinput {
            background-color: #FFF;
            color: #2962FF;
            border: 2px solid #2962FF;
            margin-bottom: 2px;
        }

        #falseinput:hover {
         background-color: #2962FF;
         color: #FFF;

        }

        #remove-avatar-btn {
            background-color: #FFF;
            color: #F00;
            border: 2px solid #F00;
        }

        #remove-avatar-btn:hover {
         background-color: #F00;
         color: #FFF;

        }

        #remove-avatar-link {
            text-decoration: none;
        }

        /* End of User Profile Picture Styling */


        /* Tab-2 Followed Threads Styling */
        #tab-1 h4, #tab-2 h4, #tab-3 h4, #tab-4 h4 {
            text-align: center;
            font-weight: 700;
        }
        /* End of Followed Threads Styling */


        .user-profile-container {
/*            background-color: #EFF0F1;
*/        }

    </style>
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
{% block sidebar_btn %}
{% endblock sidebar_btn %}

{% block row %}
{% block content %}

<div class="user-profile-container" style="margin-top: 5em">


    <div class="col-sm-12 col-md-3 ">
        <ul class="tab-list">
            <a class="tab-control" href="#tab-1"><li class="active">Profile Info</li></a>
            <a href="{% url 'accounts:thread_new' user.username %}"><li>New</li></a>
            <a href="{% url 'accounts:thread_following' user.username %}"><li>Following</li></a>
            <a href="{% url 'accounts:thread_user' user.username %}"><li>For Me</li></a>
            <a class="tab-control" href="#tab-3"><li>User Following</li></a>
            <a class="tab-control" href="#tab-4"><li>Notifications</li></a>
        </ul>
    </div>

    <div class="col-sm-12 col-md-9 ">
        <div class="tab-panel active" id="tab-1" style="position:relative;">
            <h4>Profile Info</h4>
            {% if userprofile.images.count > 0 %}
                <img id="userprofile-img" width="150" height="150" src="{{ userprofile.images.first.image.url }}" alt="{{ userprofile.images.first.image.name }}">

                <!-- change picture -->
                <button  class="userprofile-control-img-btn" id="falseinput">Change photo <i class="fas fa-file-image"></i></button><span id="selected_filename">No file selected</span>

                <!-- delete picture -->
                <a onclick="return confirm('Are you sure you want to remove your profile picture?');"id="remove-avatar-link" href="{{ userprofile.get_userprofile_update_url}}?delete_profile_pic=True"><button type="submit" id="remove-avatar-btn" class="userprofile-control-img-btn">Delete photo <i class="fas fa-trash-alt"></i></button></a>



                <!--<h4 class="user-profile-change-header">Change profile picture</h4>-->
                <form method="POST" action="{{ userprofile.get_userprofile_update_url}}" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% include '../includes/form.html' %}
                    <button style="margin: -2.2em -2px 0 0;" type="submit" class="btn btn-success" >Save  <i class="fa fa-save"></i></button>
                </form>

            {% else %}
                <img id="userprofile-img" src="{% static 'img/avatar.svg' %}" width="150" height="150" alt="avatar">

                <!-- change picture -->
                <button  class="userprofile-control-img-btn" id="falseinput">Add photo</button><span id="selected_filename">No file selected</span>

                <!-- delete picture -->
{#                <a id="remove-avatar-link" href="{{ userprofile.get_userprofile_update_url}}?delete_profile_pic=True"><button type="submit" id="remove-avatar-btn" class="userprofile-control-img-btn">Delete photo</button></a>#}

                <form method="POST" action="{{ userprofile.get_userprofile_update_url}}" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% include '../includes/form.html' %}
                    <button  type="submit" class="btn btn-success" style="margin-left:39em;">Save <i class="fa fa-save"></i></button>
                </form>
            {% endif %}

        </div>

        <div class="tab-panel" id="tab-2">
            <div class="list-group">
                <h4>Thread Following</h4>
                {% if thread_followership_set %}
                {% for thread_followership in thread_followership_set %}
                    {% if thread_followership.new_comment_count2 > 0 %}
                        <!-- New thread link -->
                        <div class="list-group-item"><a  href="{{ thread_followership.new_comment_url }}"><strong>{{ thread_followership.thread.title }}</strong></a>   <span class="label label-primary">{{ thread_followership.new_comment_count2 }} new  <i class="fa fa-comment"></i></span></div>
                    {% else %}
                        <!-- No new thread link -->
                        <a class="list-group-item" href="{{ thread_followership.thread.get_absolute_url }}"><strong>{{ thread_followership.thread.title }}</strong></a>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <p class="text-center list-group-item"><strong>You are not following any thread</strong></p>
                {% endif %}

            </div>
        </div>

        <div class="tab-panel" id="tab-3">
            <p><strong>3</strong>In older versions, the TIME_FORMAT setting (without localization) is always used when a format string isn’t given.timesinceFormats a date as the time since that date (e.g., “4 days, 6 hours”).Takes an optional argument that is a variable containing the date to use as the comparison point (without the argument, the comparison point is now). For example, if blog_date is a date instance representing midnight on 1 June 2006, and comment_date is a date instance for 08:00 on 1 June 2006, then the following would return “8 hours”:</p>
        </div>

        <div class="tab-panel" id="tab-4">
            <h4>Notifications</h4>
            <div class="list-group">
            
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% endblock row %}


{% block javascript %}
  <script>
    $(document).ready(function() {

            var $unOrderedList = $('.tab-list'); // store the current li

            $unOrderedList.on('click', '.tab-control', function(event){
                event.preventDefault();
                var $newLink = $(this);
                var id = this.hash;

                if (id && !$newLink.hasClass('active')) {
                    var $activeTab = $unOrderedList.find('li.active'); // store the li that has a class of li.a
                    var $activePanel = $('.tab-panel, .active');

                    $activePanel.removeClass('active');
                    $activeTab.removeClass('active');

                    $newActivePanel = $(id).addClass('active');
                    console.log($(id));
                    $newActiveTab = $newLink.find('li').addClass('active');
                }
        });

        /* confirm remove avatar */
        // $('remove-avatar-link').on('click', function(e) {
        //     e.preventDefault()
        //     alert('Are you sure');
        // })
        /* Hide the real file input and the span that shows the name of the
        selected image name */
        $('#id_image').css('display', 'none');
        $('#selected_filename').css('display', 'none');

        /* Trigger the hidden file input button click */
        $('#falseinput').click(function(){
            $("#id_image").click();
        });

        /* Change the current image to the selected image */
        $('#id_image').change(function(event) {
            //$('#selected_filename').text($('#id_image')[0].files[0].name);
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("userprofile-img");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
        });
    });
  </script>
{% endblock %}

