{% if category_list %}
    {% for category in category_list %}
            <li {% if current_category == category %}class="category-active"{% endif%}>
                <a href="{% url 'categories:category_detail' category.slug %}">{{ category.title }} {% if current_category == category %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
    {% endfor %}

    {% else %}
    <li style="margin: 14px 90px 10px; color: #FFF; "><strong>No available category at this moment, please check back later.</strong></li>
{% endif %}

