{% load forum_template_tags %}

<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  {% if dropdown_active_text2 %}
    {{ dropdown_active_text2|dropdown_text_value2 }}
    {% else %}
      Filter
  {% endif %}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
  {% for dropdown_text_key in  user_dropdown_text_dict.keys %}
    <li><a class="{% if dropdown_text_key == dropdown_active_text2 %}dropdown-active{% endif %}" href="{% if category %} /categories/{{ category.slug }}/{{ dropdown_text_key }}/{% else %}/threads/{{ dropdown_text_key }}/{% endif %}">{{ dropdown_text_key|dropdown_text_value2 }}</a></li>
  {% endfor %}
</ul>
