{% load crispy_forms_tags %}
{% load new_thread_tag %}

<!-- <h3 style="display: none;" id="comment-form">Create Comment Form</h3> -->
<!-- COMMENT FORM -->
<form style="margin-top: 0.2em;" action="{{ form_action }}" id="comment-form" method="post" enctype="multipart/form-data" novalidate>

  {% csrf_token %}
  <input type='hidden' name='thread_slug' value="{{ thread.slug }}" />
    {{ form|crispy }}

    <button style="margin-bottom: 12em;" type="button" class="btn btn-default js-upload-photos pull-right">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload Image
    </button>

    <input id="fileupload" type="file" name="image"
     style="display: none;"
     data-url="{% url 'attachments:upload_img' %}"
     data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    <div style="margin: 0 1em 8em 0;" class="pull-right">
      {% if not form.instance.pk %}
        <button type="submit" class="btn btn-primary">Reply <i class="fas fa-reply"></i></button>
        {% else %}
        <button type="submit" class="btn btn-primary">Update <i class="fas fa-reply"></i></button>
      {% endif %}
    </div>
  </form>
  <br><br><br>
  <div id="modal-progress" style="display: none;">
      <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
      </div>
  </div>
  <div style="display: none;" class="img-thumbnail-holder"></div>
  <div style="display: none;" class="img-thumbnail-holder-image-size"></div>

