{% load form_tags %}

{% if form.non_field_errors %}
<div class="non-field-errors alert alert-danger">
    {% for error in form.non_field_errors %}
        <p {% if forloop.last %} style="margin-bottom: 2em" {% endif %}>{{error}}<p>
    {% endfor %}
</div>
{% endif %}

{% for field in form %}
        {% if field|field_type != 'HiddenInput' %}
            <div class="{{ field|modify_field_div_class }}">
                {% if not field|field_type == 'CheckboxInput' %}
                        {{ field.label_tag }}
                        {{ field }}
                {% else %}
                    {{ field|modify_label_tag_name|safe }}<br>
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <div style="color: #AA0000">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if field|field_type == 'CheckboxInput' %}
            <br>
            <div class="form-group">
                <input id="id_{{ field.name }}" src="{{ field.name }}" type="image" width="420" height="350" class="img-responsive" />
            </div>
        {% endif %}

        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
{% endfor %}
