{% extends "base.html" %}
{% load static %}

{% load forum_template_tags %}
{% load crispy_forms_tags %}

{% load humanize %}


{% block title %}
{{ thread.title }}
{% endblock title %}


{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="d-none d-md-block">
    <ol class="breadcrumb bg-white border-bottom justify-content-end rounded-0 py-2">
        <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}"><small
                    class="font-weight-bold text-muted">{{ category }}</small></a></li>
        <li class="breadcrumb-item"><a href="{{ thread.get_absolute_url }}"><small
                    class="font-weight-bold text-secondary">{{ thread.title }}</a></small></li>
        <li class="breadcrumb-item active text-muted" aria-current="page"><small
                class="font-weight-bold">{{ comments.number }}</small></li>
    </ol>
</nav><!-- Breadcrumb -->

<main>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
                <!-- Thread Heading -->
                <div class="thread-heading">
                    <h4 class="mt-0 mb-0">
                        <a href="{{ thread.get_absolute_url }}" class="text-dark">{{ thread.title }}</a>
                    </h4>
                    <div class="dull-color mb-2 d-flex mt-2 align-items-end">
                        <small class="d-inline-block mr-4 dull-color"><i class="far fa-comments"></i>
                            {% if thread.comment_count %}
                            {{ thread.comment_count }} repl{{ thread.comment_count|pluralize:"y,ies" }}
                            {% else %}
                            No reply
                            {% endif %}
                        </small>

                        <small class="d-inline-block mr-auto dull-color"><i class="far fa-eye"></i>
                            {{ thread.views }} view{{ thread.views|pluralize }}
                        </small>

                        <a href="{{ thread.get_thread_follow_url}}" class="btn btn-light text-muted btn-sm">
                            {% if is_thread_follower %}
                            Unfollow
                            {% else %}
                            Follow
                            {% endif %}
                            <span>
                                {{ thread_followers_count }}
                            </span>
                        </a>
                    </div>
                </div><!-- Thread Heading -->

                {% if comments.number == 1 %}
                <!-- Thread Starting Comment -->
                <ul class="list-group mb-4 comment-list-group shadow-sm">

                    {% if starting_comment %}
                    <li class="list-group-item" style="border: 1px solid #9b27b062;">
                        {% include "includes/comment.html" with comment=starting_comment %}
                    </li>
                    {% else %}
                    <div class="card">
                        <div class="card-header text-dark text-center font-weight-bold bg-white">
                            Something went wrong. Please try updating the thread if you were the author.
                        </div>
                    </div>
                    {% endif %}
                </ul><!-- Comment Starting Comment -->
                {% endif %}

                {% if comments.number == 1 %}
                <div class="comment-heading my-2">
                    <h5>
                        Comments
                    </h5>
                </div>
                {% endif %}

                <!-- Comment Section -->
                <ul class="list-group mb-4 comment-list-group shadow-sm">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        {% include "includes/comment.html" with comment=comment %}
                    </li>
                    {% empty %}
                    <li class="list-group-item text-dark text-center font-weight-bold">
                        Be the first to comment
                    </li>
                    {% endfor %}
                </ul><!-- Comment Section -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1 mt-4">
                {% include "includes/pagination.html" with page_obj=comments use_page_txt=True %}
            </div>
        </div>

        <style scoped>
            @media (max-width: 480px) {
                .form-small {
                    margin-left: .60rem;
                    margin-right: .60rem;
                }
            }
        </style>
        <div class="form-small row">
            <div class="col-sm-12 px-0 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
                {% include "includes/comment_form.html" with form=form form_action=form_action %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}