{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load forum_template_tags %}
{% load humanize %}
{% load moderation_template_tags %}
{% load static %}

{% block title %}
  {{ thread.title }}
{% endblock title %}

{% block content %}
  <nav aria-label="breadcrumb" class="nav-container d-none d-md-block shadow-sm nav-breadcrumb">
    <ol class="breadcrumb bg-white border-bottom rounded-0 py-2">
      <li class="breadcrumb-item">
        <span class="nav-breadcrumb__text-light text-muted">
          <a href="/" class="text-decoration-none" class="text-secondary">
            Home
          </a>
        </span>
      </li>
      <li class="breadcrumb-item">
        <span class="nav-breadcrumb__text-light text-muted">
          <a href="{{ category.get_absolute_url }}" class="text-decoration-none">
            {{ category.title }}
          </a>
        </span>
      </li>
      <li class="breadcrumb-item">
        <span class="nav-breadcrumb__text-bold text-secondary">
          <a href="{{ thread.get_absolute_url }}" class="text-decoration-none">
            {{ thread.title }}
          </a>
        </span>
      </li>
      <li class="breadcrumb-item active text-muted" aria-current="page">
        <span class="nav-breadcrumb__text-bold">{{ comments.number }}</span>
      </li>
    </ol>
  </nav>

  <main>
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
          {% include "includes/messages.html" with messages=messages%}
          <div class="thread-heading">
            <h4 class="mt-0 mb-0">
              <a href="{{ thread.get_absolute_url }}" class="text-dark">{{ thread.title }}</a>
            </h4>
            
            <div class="dark-gray-1 mb-2 d-flex mt-2 align-items-end">
              <small class="d-inline-block mr-4 dark-gray-1"><i class="far fa-comments"></i>
                {% if thread.comment_count %}
                  {{ thread.comment_count }} repl{{ thread.comment_count|pluralize:"y,ies" }}
                {% else %}
                  No reply
                {% endif %}
              </small>

              <small class="d-inline-block mr-auto dark-gray-1"><i class="far fa-eye"></i>
                {% if thread.hit_counts.first.hits %}
                  {{ thread.hit_counts.first.hits }} view{{ thread.hit_counts.first.hits|pluralize }}
                {% else %}
                  0 views
                {% endif %}
              </small>

              <form method="post" action="{{ thread.get_thread_follow_url}}">
                {% csrf_token %}
                <a href="{{ thread.get_thread_follow_url}}" 
                  class="btn btn-light btn-sm {% if request.user.is_authenticated %}js-thread-follow-btn{% endif %} text-muted">
                  <span class="toggle">
                    <i class="fas fa-rss mr-1"></i>
                    <span class="js-thread-follow-btn-text">
                      {% if is_thread_follower %}Following{% else %}Follow{% endif %}
                    </span>
                  </span>
                  <span class="count">{% if thread_followers_count %}{{ thread_followers_count }}{% endif %}</span>
                </a>
              </form>
            </div>
          </div>

          {% if comments.number == 1 %}
            <ul class="list-group mb-4 comment-list-group">
              {% if starting_comment %}
                <li class="list-group-item">
                  {% include "includes/_comment_list_item.html" with comment=starting_comment %}
                </li>
              {% else %}
                <div class="card">
                  <div class="card-header text-dark text-center font-weight-bold bg-white">
                    Something went wrong. Please try updating the thread if you were the author.
                  </div>
                </div>
              {% endif %}
            </ul>
          {% endif %}

          {% if comments.number == 1 and comments %}
            <div class="comment-heading my-2">
              <h4>Comments</h4>
            </div>
          {% endif %}

          <ul class="list-group mb-2 comment-list-group">
            {% for comment in comments %}
              <li class="list-group-item">
                {% include "includes/_comment_list_item.html" with comment=comment %}
              </li>              
            {% empty %}
              {% include "includes/_empty_reply_state.html" %}
            {% endfor %}
          </ul>        
        </div>
      </div>

      <div class="row mt-4 mb-3">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
          {% include "includes/pagination.html" with page_obj=comments base_url=base_url prev_url=prev_url next_url=next_url %}
        </div>
      </div>

      {% if request.user.is_authenticated %}
        <div class="row">
          <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1 js-post-form-wrapper">
            {% include "includes/post_form.html" with form=form form_action=form_action title="Create Comment" %}
          </div>
        </div>
      {% endif %}        
    </div>
  </main>
{% endblock content %}

{% block javascript %} 
  <script src="{% static 'js/thread-detail.js' %}"></script>
{% endblock javascript %}
