<style scoped>
    a.nav-link:focus,
    a.nav-link:hover {
        background-color: hsl(204, 20%, 93%) !important;
    }
</style>
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'stats' %}
        category-active bg-light-gray
    {% endif %} tab-control" href="{% url 'accounts:user_stats' userprofile.username %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="far fa-id-badge" style="font-size: 1.1rem; margin-left: .7rem; margin-right: 1.43rem;"></i>Information
</a>

{% if request.user.is_authenticated and request.user == userprofile %}
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'user_notifs' %}
            category-active bg-light-gray
        {% endif %}" href="{% url 'accounts:user_notifs' userprofile.username %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 far fa-bell mr-4" style="font-size: 1.1rem;"></i>Notifications

    {% if request.user.notif_count %}
    <span class="badge badge-pill bg-info text-white align-text-bottom ml-2">
        {{ request.user.notif_count }}
    </span>
    {% endif %}

</a>

<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'profile' %}
            category-active bg-light-gray
        {% endif %} tab-control" href="{% url 'accounts:user_edit' userprofile.username %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-user-cog" style="font-size: 1.1rem; margin-right: 1.1rem;"></i>Settings</a>
{% endif %}

<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'replies' %}
        category-active bg-light-gray
    {% endif %}" href="{% url 'accounts:user_comments' userprofile.username %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 far fa-comments" style="font-size: 1.1rem; margin-right: 1.3rem;"></i>Replies</a>

{% if request.user.is_authenticated and request.user == userprofile %}
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'new' %}
                category-active bg-light-gray
            {% endif %}" href="{% url 'accounts:thread_new' userprofile.username 'new' %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-info-circle" style="font-size: 1.1rem; margin-right: 1.45rem;"></i>New</a></li>
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'following' %}
                category-active bg-light-gray
            {% endif %}" href="{% url 'accounts:thread_following' userprofile.username 'following' %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-rss" style="font-size: 1.1rem; margin-right: 1.57rem;"></i>Following</a></li>
{% endif %}
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'me' %}
        category-active bg-light-gray
    {% endif %}" href="{% url 'accounts:thread_user' userprofile.username 'me' %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-book mr-4" style="font-size: 1.1rem;"></i>Threads</a>
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'user_following' %}
        category-active bg-light-gray
    {% endif %}" href="{% url 'accounts:user_following' userprofile.username %}"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-user-friends" style="font-size: 1.1rem; margin-right: 1.1rem;"></i>User Following</a>
<a class="text-muted nav-link mr-lg-0 {% if dropdown_active_text2 == 'user_followers' %}
        category-active bg-light-gray
    {% endif %}" href="{% url 'accounts:user_followers' userprofile.username %}#232"
    data-target="{{ dropdown_active_text2 }}">
    <i class="ml-2 fas fa-users" style="font-size: 1.1rem; margin-right: 1.1rem;"></i>Followers</a>