{% load forum_template_tags %}
<div class="col col-md-2 col-lg-2 col-xl-1 position-relative py-2 text-center">
    <a class="{% if not dropdown_active_text or dropdown_active_text == 'recent' %}
                text-primary
            {% else %}
                text-dark
            {% endif %} filter" href="{% if category %}
                        /categories/{{ category.slug }}/recent/
                    {% else %}
                       /threads/recent/
                    {% endif %}">
        Recent
    </a>
    <span class="{% if dropdown_active_text == 'recent' %}thread-active{% endif %}"></span>
</div>
{% if request.user.is_authenticated %}
    <div class="col col-md-2 col-lg-2 position-relative py-2 text-center">
        <div class="btn-group">
            {% get_filter_dropdown_body dropdown_active_text True category %}
        </div>
    </div>
{% endif %}
<div class="col col-md-2 col-lg-2 col-xl-1 position-relative py-2 text-center">
    <div class="btn-group">
        {% get_filter_dropdown_body dropdown_active_text False category %}
    </div>
</div>
