{% extends 'base.html' %}

{% load forum_template_tags %}
{% load humanize %}
{% load static %}

{% block title %}
  {{ category.title }}
{% endblock title %}

{% block content %}
  <main>
    <div class="container mt-3 mt-lg-4">
      <div class="row offset-lg-1 mr-lg-auto">
        {% if query %}
          {% if results %}
            <div class="col-12">
              <h4 class="mb-3">
                Search results for <b class="text-secondary">{{ query }}</b>
              </h4>   
            </div>
          {% else %}
            <div class="col-12">
              <h4 class="d-none d-sm-block mb-3">
                No search results for <b class="text-secondary">{{ query|truncatechars:50 }}</b>
              </h4>
              <h4 class="d-md-none mb-3">
                No search results for <b class="text-secondary">{{ query|truncatechars:25 }}</b>
              </h4>
            </div>
          {% endif %}
          
          <div class="col-12 col-lg-8 search-result-box">
            <ul class="list-group mb-4">
              {% for thread in results %}
                <li class="list-group-item" style="max-height: 13rem; overflow: hidden;">
                  <h5>
                    <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
                  </h5>
                  {{ thread.starting_comment.marked_message|safe }}
                </li>                    
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <div class="col-12 col-lg-8 mt-4">
            {% include "includes/_empty_state_card.html" with icon="fas fa-info-circle" text="Please enter a query in the search box." font_size="small" %}       
          </div>
        {% endif %}  
      </div>

      <div class="row mt-3">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
          {% include "includes/pagination.html" with page_obj=results base_url=base_url prev_url=prev_url next_url=next_url %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
