{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Email Confirmation{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-12 offset-0 col-sm-10 offset-sm 1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Email Confirmation Sent!</h4>
        <p>Please confirm your email address to complete the registration.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}