{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-12 offset-0 col-sm-10 offset-sm 1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Password changed!</h4>
        <p>You have successfully changed your password! You may now proceed to log in.</p>
        <a href="{% url 'accounts:login' %}" class="btn btn-success btn-block">Return to log in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}