{% extends 'profile_base.html' %}
{% load static %}
{% load humanize %}
{% load new_thread_tag %}
{% load forum_template_tags %}


{% block profile_content %}
<main>
  <div class="container mt-lg-4">

    <div class="row offset-lg-1">
      <div class="col-12">
        <h5 class="mb-3" style="margin-left: -.9rem;">
          {% if dropdown_active_text2 == 'new' %}
          New Threads
          {% elif dropdown_active_text2 == 'following' %}
          Thread Following
          {% else %}
          All Threads
          {% endif %}
        </h5>
      </div>
      <div class="col-12 col-lg-8">
        <!-- Thread Section -->
        <ul class="list-group mb-4 thread-list-group">
          {% for thread in threads %}
          <li class="list-group-item">
            {% include "includes/thread.html" with thread=thread %}
          </li>
          {% empty %}
          <div class="card">
            <div class="card-header text-primary text-center font-weight-bold bg-white">
              No threads yet
            </div>
          </div>
          {% endfor %}
        </ul><!-- Thread Section -->
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
        {% include "includes/pagination.html" with page_obj=threads  %}
      </div>
    </div>
  </div>
</main>
{% endblock profile_content %}