{% extends 'profile_base.html' %}
{% load static %}
{% load humanize %}
{% load new_thread_tag %}
{% load forum_template_tags %}

{% block profile_content %}
<main>
  <div class="container mt-lg-4">
    <div class="row offset-lg-1">
      <div class="col-12">
        <h5 class="mb-3 ml-sm-1" style="margin-left: -.9rem;">All Comments</h5>
      </div>

      <div class="col-12 col-lg-8">
        <!-- Comment Section -->
        <ul class="list-group mb-4 comment-list-group">
          {% for comment in comments %}
          <li class="list-group-item">
            {% include "includes/comment.html" with comment=comment %}
          </li>
          {% empty %}
          <div class="card">
            <div class="card-header text-primary text-center font-weight-bold bg-white">
              No comments yet
            </div>
          </div>
          {% endfor %}
        </ul><!-- Comment Section -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
        {% include "includes/comment_pagination.html" with comments=comments %}
      </div>
    </div>
  </div>
</main>
{% endblock profile_content %}