{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load new_thread_tag %}
{% load forum_template_tags %}


{% block stylesheet %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block row %}


{% block content %}
        <div class="category-thread-header">
          <div class="dropdown">
            <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ dropdown }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a class="{{ recent }}" href="/threads/">Recent</a></li>
              <li><a class="{{ trending }}" href="/threads/?trending=1">Trending (this week)</a></li>
              <li><a class="{{ popular }}" href="/threads/?popular=1">Trending (all time)</a></li>
              <li><a class="{{ solved }}" href="#">Solved</a></li>
              <li><a class="{{ unsolved }}" href="#">Unsolved</a></li>
              <li><a class="{{ fresh }}" href="/threads/?fresh=1">No Response Yet</a></li>
            </ul> -->
              {% get_all_threads_dropdown_list dropdown_active_text category %}

            </div>
          

          {% if request.user.is_authenticated %}
            <div class="dropdown user-dropdown">
              <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ dropdown2 }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a class="{{ new }}" href="/threads/?new=1">New</a></li>
                <li><a class="{{ following }}" href="/threads/?following=1">Following</a></li>
                <li><a class="{{ me }}" href="/threads/?me=1">For Me</a></li>
                <li><a class="{{ unread }}" href="/threads/?unread=1">Unread</a></li>
              </ul> -->
              {% get_user_threads_dropdown_list dropdown_active_text category %}
            </div>
          {% endif %}

          <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New Thread</button>
        </div>
          {% for thread in threads %}
          <div class="category-thread">
            <div class="profile-img">
              <a href="{{ thread.user.userprofile.get_absolute_url }}"><img  style="display: inline" src="{% static 'img/avatar.svg' %}" width="40" height="40" alt="" class="profile-img"></a>
            </div>

            <div class="category-thread-body"> <!-- THREAD-BODY -->               
                <h4><a href="{% thread_url thread.get_absolute_url thread.comment_count thread.new_c_id thread.new_c_num %}">{{ thread.title }}</a></h4>
               <div><i class="glyphicon glyphicon-user"></i><span>{% if thread.final_comment_user %}
                 <a href="{{ thread.final_comment_user.userprofile.get_absolute_url }}">{{ thread.final_comment_user.username|capfirst }}</a>
               {% else %}
                  <a href="{{ thread.user.userprofile.get_absolute_url }}">{{ thread.user.username|capfirst }}</a>
               {% endif %}</span><span><i class="glyphicon glyphicon-time"></i> {% if thread.final_comment_time %}
                 {{ thread.final_comment_time|date:"M d, Y, g:i:s a" }}
               {% else %}
                {{ thread.created|date:"M d, Y, g:i:s a" }}
               {% endif %}</span><span><i class="glyphicon glyphicon-comment"></i> {% if thread.comment_count > 1 %}
                 {{ thread.comment_count }}
                 {% else %}
                  0
               {% endif %}</span><span><i class="glyphicon glyphicon-eye-open"></i> {{ thread.views }}</span><span class="category-dot"><span class="dot"></span><a href="{{ thread.category.get_absolute_url }}">{{ thread.category.title }}</a></span>{% if thread.new_c_num > 0 %}<span class="label label-primary"><i class="glyphicon glyphicon-comment"></i>  {{ thread.new_c_num }} new</span>{% endif %}
              </div>
                

            </div> <!-- END OF THREAD-BODY-->                  
                
              
          </div><!-- END OF THREAD -->
          {% empty %}
            <ul style="margin-top: 1.7em;" class="list-group">
              <li style="padding: 0;" class="list-group-item">
                <h4 class="text-center">No Availble threads for the current selection.</h4>
              </li>
            </ul>
          {% endfor %}

          {% include "includes/thread_pagination.html" with threads=threads %}
          
          {% include "includes/comment_form.html" with form=form form_action=form_action %}        

      

{% endblock content %}

{% endblock row %}