<!DOCTYPE html>
{% load compress %}
{% load forum_template_tags %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/easymde.min.css' %}">

    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/styles.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}

    {% block stylesheet %}{% endblock stylesheet %}
    
    <title>
      {% block title %}
        Forum
      {% endblock %}
    </title>
  </head>

  <body>
    {% block absolute_content %}{% endblock absolute_content %}
    <!-- Overlay -->
    <div class="sidebar-overlay"></div>
    <div class="d-flex" id="wrapper">
      {% block sidebar %}
        <!-- Sidebar -->
        <div class="bg-light" id="sidebar-wrapper">
          <div class="sidebar-heading font-weight-bold">
            <span class="d-inline-block d-md-none" id="close-sidebar">&times;</span>
            <a class="navbar-brand" href="/">
              <img src="{% static 'assets/bootstrap-solid.svg' %}" width="30" height="30" alt="" />
              <span>ClassicForum</span>
            </a>
          </div>
          <div class="list-group list-group-flush" style="margin-top: 4.8rem;">
            {% if category %}
              {% get_category_list category %}
            {% else %}
              {% get_category_list %}
            {% endif %}
          </div>
        </div><!-- Sidebar -->
      {% endblock sidebar %}

      <!-- Sidebar Fix -->
      <div class="sidebar-wrapper-fix">
        <div class="list-group">
          <a class="list-group-item" href="#"></a>
        </div>
      </div><!-- Sidebar Fix -->

      <div id="page-content-wrapper">
        <nav class="nav-container flex-nowrap navbar navbar-expand-lg  main-nav navbar-dark {# bg-light #}">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="around-search-bar d-flex d-lg-none justify-content-start align-items-center ml-2 ml-lg-0 mr-auto">
            <a class="navbar-brand" href="/">
              <img src="{% static 'assets/bootstrap-solid.svg' %}" width="30" height="30" alt="" />
              <span class="d-none d-md-inline-block text-white">ClassicForum</span>
            </a>
          </div>

          <form 
            action="{% url 'search:search' %}" 
            class="search-bar form-inline my-0 my-lg-0 justify-content-end d-none ml-3 ml-md-0 d-md-flex mr-lg-auto"
          >
            <div class="position-relative d-flex align-items-center">
              <i class="fas fa-search search-abs"></i>
              <input class="form-control mr-3 md-mr-0 search-pl" type="search" name="q" value="{{ query }}" placeholder="Search" aria-label="Search" />
              <span class="d-inline-block d-md-none"><i class="fas fa-times-circle" id="close-search-bar"></i></span>
            </div>
          </form>

          <div class="around-search-bar">            
            <div class="d-flex justify-content-end align-items-center">
              {% if request.user.is_authenticated %}
                <span class="d-inline-block d-md-none mr-4 text-dark">
                  <i class="fas fa-search search-icon text-white" style="font-size: 1.1rem;"></i>
                </span>
              {% endif %}

              {% if request.user.is_authenticated %}
                <span class="mr-4 position-relative d-flex justify-content-center align-items-center">
                  <a class="notif-icon text-decoration-none text-white" href="{{ request.user.notif_url }}">
                    <i style="font-size: 1.5rem;" class="notif-icon far fa-bell"></i>
                    {% if request.user.notif_count %}
                      {% comment %} <span style="font-size: 0.7rem; position: absolute; top: -.67rem; right: -.63rem; min-width: 1em; 
                                        padding: .25em .4em; text-align: center;"
                        class="bg-primary text-center rounded-circle text-white"> {% endcomment %}                  
                      <style scoped>
                        .notif-badge {
                          font-size: 0.8rem;
                          font-weight: 600;
                          position: absolute;
                          bottom: 18px;
                          left: 12px;
                          padding: 0.5px 5px;
                        }
                        .notif-badge span {
                          display: inline-block;
                        }
                        .notif-icon:active {
                          background-color: blue;
                        }
                      </style>
                      <div class="notif-badge bg-primary text-center rounded-circle text-white">
                        <span>{{ request.user.notif_count }}</span>
                      </div>
                    {% endif %}
                  </a>
                </span>

                <div class="btn-group">
                  <a class="dropdown-toggle nav-profile-img text-dark" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#">
                    <img src="{{ request.user.get_avatar_url }}" height="38" width="38" class="avatar mr-1 mr-md-2 avatar" alt="..." />
                  </a>
                  <div style="min-width: 12rem;" class="dropdown-menu dropdown-menu-right w-50 shadow-sm">
                    <a class="dropdown-item" href="{{ user.get_absolute_url }}">
                      My account
                    </a>
                    <a class="dropdown-item" href="{% url 'accounts:user_edit' request.user.username %}">
                      Update profile
                    </a>
                    {% if request.user.is_authenticated and request.user.is_superuser %}
                        <a href="{% url 'moderation:moderator_list' %}" class="dropdown-item">
                          Manage moderators
                        </a>
                    {% endif %}

                    {% if request.user.is_authenticated and request.user.is_moderator %}
                        <a href="{% url 'moderation:moderator_detail' request.user.username %}" class="dropdown-item">
                          Moderation Profile
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'accounts:password_change' %}">
                      Change password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                      Logout
                    </a>
                  </div>
                </div>
              {% else %}                
                <div class="d-md-flex justify-content-end align-items-center">
                  {# Search icon small screen #}
                  <span class="d-inline-block d-lg-none mr-3 text-white"><i class="fas fa-search search-icon"></i></span>
                  <a href="{% url 'accounts:signup' %}" style="" class="btn btn-info btn mr-2">
                    Register
                  </a>
                  <a href="{% url 'accounts:login' %}" class="btn btn-outline-info text-white">
                    Login
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </nav>
        {% block content %}{% endblock content %}        
      </div>
    </div>

    <style scoped>
      .floating-action-btn {
        width: 50px;
        height: 50px;
        position: fixed; 
        right: 1.5rem;
        bottom: 1.5rem;
        z-index: 2;
      }
    </style>

    {% if show_floating_btn %}
      <a href="{{scroll_or_login}}" style="display: flex; text-decoration: none;" 
        class="rounded-circle bg-secondary add-thread-btn floating-action-btn align-items-center justify-content-center text-white">
        <i class="fas fa-pen"></i>
      </a>
    {% endif %}

    <ul class="mention-dropdown"></ul>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% if request.user.is_authenticated and threads or thread %}
      <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
      <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
      <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

      <script src="{% static 'js/easymde.min.js' %}"></script>
      <script src="{% static 'js/easymde-custom.js' %}"></script>
      <script src="{% static 'js/jquery-file-upload-custom.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/script.js' %}"></script>
      
    {% block javascript %}{% endblock javascript %}
  </body>
</html>