{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load forum_template_tags %}


{% block sidebar %}
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading font-weight-bold">
        <span class="d-inline-block d-md-none" id="close-sidebar">&times;</span>
        <a class="navbar-brand ml-3" href="/">
            <img src="{% static 'assets/bootstrap-solid.svg' %}" width="30" height="30" alt="" />
            <span>ClassicForum</span>
        </a>
    </div>
    <div class="list-group list-group-flush mt-3 profile-sidebar">
        {% get_profile_sidebar_list request userprofile dropdown_active_text2 %}
    </div>
</div>
{% endblock sidebar %}

{% block content %}

<!-- Navigation Scroller -->
<div class="row mb-4 d-flex d-lg-none">
    <div class="col-12">
        <div class="nav-scroller border-top border-bottom">
            <nav class="nav nav-underline ">
                {% get_profile_sidebar_list request userprofile dropdown_active_text2 True %}                
            </nav>
        </div>
    </div>
</div><!-- Navigation Scroller -->

{% block profile_content %}

{% endblock profile_content %}

{% endblock content %}

{% block javascript %} 
    <script src="{% static 'js/user-profile.js' %}"></script>
{% endblock javascript %}
