{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load forum_template_tags %}
{% load humanize %}
{% load moderation_template_tags %}
{% load static %}

{% block title %}
  Moderator - {{ mod_profile.user.username }}
{% endblock title %}

{% block content %}
  <main>
    <div class="container mt-3 mt-lg-4">
      <div class="row offset-lg-1 mr-lg-auto">
        <div class="col-12 col-lg-9 col-xl-8">
          <div class="card mb-5">
            <div class="card-header">
              <h5 class="mb-0">Moderator Details</h5>
            </div>

            <div class="card-body">
              {% include "includes/messages.html" with messages=messages%}
              <div class="d-flex align-items-center mb-4">
                <a href="{{ mod_profile.user.get_absolute_url }}">
                  <img src="{{ mod_profile.user.get_avatar_url }}" width="60" height="60" class="avatar mr-2"/>
                </a>

                <h5 class="mb-0">
                  <a href="{{ mod_profile.user.get_absolute_url }}" style="color: inherit; text-decoration: none;">
                    {{ mod_profile.user.username }}
                  </a>
                </h5>
              </div>

              {% common_categories mod_profile request.user as visible_categories %}
              {% for category in visible_categories %}
                <h5 class="mb-0"><a href="{{ category.get_absolute_url }}" class="text-dark">{{ category.title }}</a></h5>
                {% with hidden_threads=mod_profile.hidden_threads.all hidden_comments=mod_profile.hidden_comments.all %}
                  {% if hidden_threads %}      
                    <ul class="list-group my-2">
                      {% for thread in hidden_threads %}
                        {% if thread.category == category %}
                          <form method="post" action="{% url 'moderation:thread_unhide' thread.slug %}">
                            {% csrf_token %}
                            <li class="list-group-item">
                              {% include "includes/thread.html" with thread=thread %}
                              <button type="submit" class="btn btn-primary btn-sm mt-3"><i class="fas fa-eye mr-1"></i>Make visible</button>
                            </li>
                          </form>
                        {% endif %}
                      {% endfor %} 
                    </ul>
                  {% endif %}

                  {% if hidden_comments %}
                    <ul class="list-group mt-3 my-1">
                      {% for comment in hidden_comments %}
                        {% if comment.category == category %}
                          <li class="list-group-item">
                            <form method="post" action="{% url 'moderation:comment_unhide' comment.thread.slug comment.pk %}">
                              {% csrf_token %}
                              <div>
                                <div class="d-flex align-items-center mb-2">
                                  <img src="{{ comment.user.get_avatar_url }}" width="60" height="60" class="avatar mr-3" />
                                  <div class="d-flex">
                                    <a href="{{ comment.user.get_absolute_url }}" style="color: inherit; text-decoration: none;">
                                      {{ comment.user.username }}
                                    </a>
                                    <span class="comment-time text-muted ml-2"><span class="time-dot"></span>
                                      <small class="d-inline-block font-weight-bold">{{ comment.created|naturaltime|splittime }}</small>
                                    </span>
                                  </div>
                                </div>
                                {{ comment.marked_message|safe|truncatechars_html:"300" }}                
                              </div>
                              <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-eye mr-1"></i>Make visible</button>
                            </form>
                          </li>
                        {% endif %}                          
                      {% endfor %}
                    </ul>
                  {% endif %}            
                {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div>           
      </div>
    </div>
  </main>
{% endblock content %}
