{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load moderation_template_tags %}

{% block title %}
    Moderator - {{ mod_profile.user.username }}
{% endblock title %}

{% block content %}
  <main>
    <div class="container mt-3 mt-lg-4">
      <div class="row offset-lg-1 mr-lg-auto">
        <div class="col-12 col-lg-9 col-xl-8">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Moderator Details</h5>
            </div>
            <div class="card-body">
              {% include "includes/messages.html" with messages=messages%}
              <div class="d-flex align-items-center mb-4">
                <a href="{{ mod_profile.user.get_absolute_url }}">
                  <img src="{{ mod_profile.user.get_avatar_url }}" width="60" height="60" class="avatar mr-2"/>
                </a>
                <h5 class="mb-0">
                  <a href="{{ mod_profile.user.get_absolute_url }}" style="color: inherit; text-decoration: none;">
                    {{ mod_profile.user.username }}
                  </a>
                </h5>
              </div>
              {% common_categories mod_profile request.user as visible_categories %}
              {% for category in visible_categories %}
                <h5 class="mb-0"><a href="{{ category.get_absolute_url }}" class="text-dark">{{ category.title }}</a></h5>
                {% with hidden_threads=mod_profile.hidden_threads.all %}
                  {% if hidden_threads %}
                    <ul class="list-group mt-3 mb-2">
                      {% for thread in hidden_threads %}
                        {% if thread.category == category %}
                          <li class="list-group-item">
                              <form method="post" action="{% url 'moderation:thread_unhide' thread.slug %}">
                                {% csrf_token %}
                                <div class="d-flex justify-content-between align-items-center">
                                  <span><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></span>
                                  <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-eye mr-1"></i>Make visible</button>
                                </div>
                              </form>
                          </li>
                        {% endif %}                          
                      {% endfor %}
                    </ul>
                  {% endif %}                
                {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div>           
      </div>
    </div>
  </main>
{% endblock content %}
