{% load humanize %}
{% load static %}
<!-- <span><strong><a href="{% url 'accounts:user_stats' userprofile.user.username %}">{{ notif.sender }}</a></strong> upvoted your <strong><a href="{{ notif.comment.get_precise_url }}">comment</a></strong></span>
<span><strong><a href="{% url 'accounts:user_stats' userprofile.user.username %}">{{ notif.sender }}</a></strong> {{ notif.notif_type }} in <strong><a href="{{ notif.comment.thread.get_absolute_url }}">{{ notif.comment.thread.title|truncatechars:70 }}</a></strong></span>
<div>
	{{ notif.comment.marked_message|truncatechars:100 }}
</div>
 -->

<div class="media">
  <div class="media-left">
    <a href="{% url 'accounts:user_stats' userprofile.user.username %}">
    	{% if notif.sender.userprofile.has_avatar %}
    		<img  style="border-radius: 50%; max-width: none; max-height: none; margin: auto; object-fit: cover;" width="64" height="64" class="media-object" src="{{ notif.sender.userprofile.get_avatar_url }}">
		{% else %}
			<img  style="border-radius: 50%; max-width: none; max-height: none; margin: auto; object-fit: cover;" width="64" height="64" class="media-object" src="{% static 'img/avatar.svg' %}">
    	{% endif %}
      
    </a>
  </div>
  <div class="media-body">
    <h4 style="font-size: 16px;" class="media-heading"><strong><a href="{% url 'accounts:user_stats' userprofile.user.username %}">{{ notif.sender }}</a></strong> <span class="text-muted" style="font-size: 14px;">upvoted your comment in</span> <span style="font-size: 14px; font-style: italic;"><a href="{{ notif.comment.thread.get_absolute_url }}">{{ notif.comment.thread.title }}</a></span> <span style="font-size: 14px;" class="text-muted">  {{ notif.created|naturaltime }}.</span></h4>
    {{ notif.comment.marked_message|safe|truncatechars:300 }}<a style="color: #2962FF;" href="{{ notif.comment.get_precise_url }}">read more</a>
  </div>
</div>



