{% load static %}
{% load humanize %}
{% load forum_template_tags %}
{% load moderation_template_tags %}

{% include "includes/comment_history.html" with comment=comment %}

{% if request.user.is_authenticated and request.user.is_moderator %}
  {% if comment.is_starting_comment %}
    {% can_hide_post comment.thread request.user as can_hide_thread %}
    {% if can_hide_thread %}
      {% include "includes/modal.html" with comment=comment %}
    {% endif %} 
  {% else %}
    {% can_hide_post comment request.user as can_hide_comment %}
    {% if can_hide_comment %}
      {% include "includes/modal.html" with comment=comment %}
    {% endif %} 
  {% endif %}
{% endif %}

<div class="media flex-column flex-md-row comment" id="comment{{ comment.id }}">
  <div class="d-flex mb-2">
    <a href="{{ comment.user.get_absolute_url }}">
      <img src="{{ comment.user.get_avatar_url }}" width="60" height="60" class="avatar mr-3" alt="..." />
    </a>

    <!-- Mobile -->
    <div class="d-flex d-md-none align-items-center">
      <b>
        <a href="{{ comment.user.get_absolute_url }}" class="comment--username">
          {{ comment.user.username }}
        </a>
        <span class="comment__time text-muted"><span class="comment__time-circle"></span>
          <small class="d-inline-block font-weight-bold">{{ comment.created|naturaltime|splittime }}</small>
        </span>
      </b>
    </div><!-- Mobile -->
  </div>

  <div class="media-body w-100">
    <!-- Desktop -->
    <b class="d-md-block d-none font-weight-bold">
      <a href="{{ comment.user.get_absolute_url }}" class="comment--username">
        {{ comment.user.username }}
      </a>
      <span class="comment-time text-muted"><span class="comment__time-circle"></span>
        <small class="d-inline-block font-weight-bold">{{ comment.created|naturaltime|splittime }}</small>
      </span>
      {% if comment.unread %}<span class="badge badge-info">New</span>{% endif %}
    </b><!-- Desktop -->

    <div class="btn-group position-absolute comment__more-icon">
      <a class="dropdown-toggle nav-profile-img text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="fas fa-ellipsis-h text-muted d-inline-block px-2 py-2"></i>
      </a>

      <div class="dropdown-menu shadow dropdown-menu-right py-0 px-0 dropdown-hover-fix" style="min-width: 8.7rem;">
        <a class="dropdown-item py-2 pl-1 icon-row js-permalink" 
            href="{% if comment.is_starting_comment %}
                    {{ comment.thread.get_absolute_url }}
                  {% else %}
                    {{ comment.get_precise_url }}
                  {% endif %}"
        >
          <i class="icon-row__icon mx-2 text-secondary far fa-flag"></i>
          <span class="icon-row--text">Permalink</span>
        </a>

        <div class="js-follow-dropdown-item" style="display: none;">
          {% if request.user.is_authenticated and request.user != comment.user  %}
              <a 
                class="dropdown-item py-2 pl-1 icon-row js-user-follow-link" 
                data-action="{{ comment.user.get_user_follow_url }}" 
                data-user="{{ comment.user.username }}"
              >
                <i class="icon-row__icon mx-2 text-secondary fas fa-user-friends"></i>
                <span class="icon-row--text js-user-follow-link-text">
                  {% if request.user in comment.user.followers.all %}Unfollow{% else %}Follow{% endif %}
                </span>
              </a>
          {% endif %}
        </div>

        {% if request.user.is_authenticated and request.user == comment.user %}
          {% if comment.is_starting_comment %}
            <a class="dropdown-item py-2 pl-1 icon-row" href="{% precise_post_update_url thread comments.number %}">
              <i class="icon-row__icon mx-2 text-secondary far fa-edit"></i>
              <span class="icon-row--text">Edit</span>
            </a>
          {% else %}
            <a class="dropdown-item py-2 pl-1 icon-row" href="{% precise_post_update_url comment comments.number %}">
              <i class="icon-row__icon mx-2 text-secondary far fa-edit"></i>
              <span class="icon-row--text">Edit</span>
            </a>
          {% endif %}
        {% endif %}
          
        {% if request.user.is_authenticated and request.user.is_moderator %}
          {% if comment.is_starting_comment %}
            {% if can_hide_thread %}{# can_hide_thread is already initialised at the top #}           
              <a href="#" data-toggle="modal" data-target="#deleteModal_{{ comment.pk }}" class="dropdown-item py-2 pl-1 icon-row">
                <i class="icon-row__icon mx-2 text-secondary fas fa-eye-slash"></i>
                <span class="icon-row--text">Hide thread</span>
              </a>
            {% endif %} 
          {% else %}
            {% if can_hide_comment %}{# can_hide_comment is already initialised at the top #}               
              <a href="#" data-toggle="modal" data-target="#deleteModal_{{ comment.pk }}" class="dropdown-item py-2 pl-1 icon-row">
                <i class="icon-row__icon mx-2 text-secondary fas fa-eye-slash"></i>
                <span class="icon-row--text">Hide comment</span>
              </a>
            {% endif %}
          {% endif %}            
        {% endif %}
          
        <a class="dropdown-item py-2 pl-1 icon-row" href="#" data-toggle="modal" data-target="#commentHistoryModal{{ comment.pk }}">
          <i class="icon-row__icon mx-2 text-secondary fas fa-history"></i>
          <span class="icon-row--text">See edits</span>
        </a>
      </div>
    </div>

    <div class="mb-1 comment-message">
      {{ comment.marked_message|safe }}
    </div>

    <div class="media-footer d-flex justify-content-between comment__footer">
      <div>
        <a href="{% url_with_page_num comment.get_reply_url comments.number %}" class="btn btn-link btn-sm text-muted">
          <i class="fas fa-reply mr-1"></i>Reply
        </a>
      </div>
      
      <div>
        <form method="post" action="{{ comment.get_like_url }}">
          {% csrf_token %}
          <button 
            type="submit" 
            data-action="{{ comment.get_like_url }}"
            class="btn btn-link btn-sm btn-like {% if request.user.is_authenticated %}js-btn-like{% endif %} 
              {% if request.user in comment.likers.all %}
                text-primary
              {% else %}
                text-muted
              {% endif %}"
          >
            <i class="far fa-thumbs-up mr-1"></i>
            <span class="js-btn-like-text">{% if comment.likers.count %}{{ comment.likers.count }}{% endif %}</span>
          </button>  
        </form>
      </div>
    </div>
  </div>
</div>