{% load static %}
{% load humanize %}
{% load forum_template_tags %}
{% load moderation_template_tags %}

{% include "includes/comment_history.html" with comment=comment %}

{% if request.user.is_authenticated and request.user.is_moderator %}
  {% if comment.is_starting_comment %}
    {% can_hide_post comment.thread request.user as can_hide_thread %}
    {% if can_hide_thread %}
      {% include "includes/modal.html" with comment=comment %}
    {% endif %} 
  {% else %}
    {% can_hide_post comment request.user as can_hide_comment %}
    {% if can_hide_comment %}
      {% include "includes/modal.html" with comment=comment %}
    {% endif %} 
  {% endif %}
{% endif %}

<div class="media flex-column flex-md-row comment" id="comment{{ comment.id }}">
  <div class="d-flex mb-1">
    <a href="{{ comment.user.get_absolute_url }}">
      <img src="{{ comment.user.get_avatar_url }}" width="60" height="60" class="avatar mr-3" alt="..." />
    </a>

    <div class="d-flex d-md-none align-items-center">
      <strong>
        <a href="{{ comment.user.get_absolute_url }}" class="comment--username">
          {{ comment.user.username }}
        </a>
        <span class="comment__time text-muted"><span class="comment__time-circle"></span>
          <small class="d-inline-block font-weight-bold">{{ comment.created|naturaltime|splittime }}</small>
          {% if comment.unread %}<span class="badge badge-info">New</span>{% endif %}
        </span>
      </strong>
    </div>
  </div>

  <div class="media-body w-100">
    <strong class="d-md-block d-none font-weight-bold">
      <a href="{{ comment.user.get_absolute_url }}" class="comment--username">
        {{ comment.user.username }}
      </a>
      <span class="comment-time text-muted"><span class="comment__time-circle"></span>
        <small class="d-inline-block font-weight-bold">{{ comment.created|naturaltime|splittime }}</small>
      </span>
      {% if comment.unread %}<span class="badge badge-info">New</span>{% endif %}
    </strong>

    <div class="btn-group position-absolute comment__more-icon">
      <a class="dropdown-toggle nav-profile-img text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="fas fa-ellipsis-h text-muted d-inline-block px-2 py-2"></i>
      </a>

      <div class="dropdown-menu shadow dropdown-menu-right py-0" style="min-width: 8.7rem;">
        <a class="dropdown-item py-2 px-2 icon-row" href="#">
          <i class="icon-row__icon mr-1 far fa-flag"></i><span class="icon-row--text">Report</span>
        </a>

        {% if request.user.is_authenticated and request.user != comment.user  %}
          {% if request.user in comment.user.followers %}
            <a class="dropdown-item py-2 px-2 icon-row" href="{{ comment.user.get_user_follow_url }}">
              <i class="icon-row__icon mr-1 fas fa-user-friends"></i><span class="icon-row--text">Unfollow</span>
            </a>
          {% else %}
            <a class="dropdown-item py-2 px-2 icon-row" href="{{ comment.user.get_user_follow_url }}">
              <i class="icon-row__icon mr-1 fas fa-user-friends"></i><span class="icon-row--text">Follow</span>
            </a>
            </a>
          {% endif %}
        {% endif %}

        {% if request.user.is_authenticated and request.user == comment.user %}
          {% if comment.is_starting_comment %}
            <a class="dropdown-item py-2 px-2 icon-row" href="{% precise_post_update_url thread comments.number %}">
              <i class="icon-row__icon mr-1 far fa-edit"></i><span class="icon-row--text">Edit</span>
            </a>
          {% else %}
            <a class="dropdown-item py-2 px-2 icon-row" href="{% precise_post_update_url comment comments.number %}">
              <i class="icon-row__icon mr-1 far fa-edit"></i><span class="icon-row--text">Edit</span>
            </a>
          {% endif %}
        {% endif %}
          
        {% if request.user.is_authenticated and request.user.is_moderator %}
          {% if comment.is_starting_comment %}
            {% if can_hide_thread %}{# can_hide_thread is already initialised at the top #}           
              <a href="#" data-toggle="modal" data-target="#deleteModal_{{ comment.pk }}" class="dropdown-item py-2 px-2 icon-row">
                <i class="icon-row__icon mr-1 fas fa-eye-slash"></i><span class="icon-row--text">Hide thread</span>
              </a>
            {% endif %} 
          {% else %}
            {% if can_hide_comment %}{# can_hide_comment is already initialised at the top #}               
              <a href="#" data-toggle="modal" data-target="#deleteModal_{{ comment.pk }}" class="dropdown-item py-2 px-2 icon-row">
                <i class="icon-row__icon mr-1 fas fa-eye-slash"></i><span class="icon-row--text">Hide comment</span>
              </a>
            {% endif %}
          {% endif %}            
        {% endif %}
          
        <a class="dropdown-item py-2 px-2 icon-row" href="#" data-toggle="modal" data-target="#commentHistoryModal{{ comment.pk }}">
          <i class="icon-row__icon mr-1 fas fa-history"></i><span class="icon-row--text">See edits</span>
        </a>
      </div>
    </div>

    <div class="mb-1 comment-message">
      {% comment %} <h4>{{ comment.position }} {{ comment.offset }}</h4> {% endcomment %}
      {{ comment.marked_message|safe }}
    </div>

    <div class="media-footer d-flex justify-content-between comment__footer">
      <div>
        <a href="{% url_with_page_num comment.get_reply_url comments.number %}" class="btn btn-link btn-sm text-muted">
          <i class="fas fa-reply mr-1"></i>Reply
        </a>
      </div>
      
      <div>
        <form method="post" action="{{ comment.get_like_url }}">
          {% csrf_token %}
          <button 
            type="submit" 
            class="btn btn-link btn-sm btn-like
              {% if request.user in comment.likers.all %}
                text-primary
              {% else %}
                text-muted
              {% endif %}"
          >
              <i class="far fa-thumbs-up mr-1"></i>
              {{ comment.likers.count }}
          </button>  
        </form>
      </div>
    </div>
  </div>
</div>