<style scoped>
  .sidebar-item {
    display: flex;
    align-items: center;
  }
  .sidebar-item .sidebar-item-icon {
    display: inline-block;
    width: 1.3rem;
    text-align: center;
    margin-right: 1rem;
  }
  .sidebar-item.category-active {
    color: #9c27b0 !important;
    font-weight: 600;
  }
  a.sidebar-item.nav-link:hover {
    color: #9c27b0 !important;
  }
</style>

{% if category_list %}
  {% for category in category_list %}    
    {% if current_category == category %}
      <a href="{% url 'categories:category_detail' category.slug %}"
        class="sidebar-item nav-link category-active text-primary">
        <i class="{{ category.icon }} sidebar-item-icon"></i>
        <span class="sidebar-item-text">{{ category.title }}</span>
      </a>
    {% else %}
      <a href="{% url 'categories:category_detail' category.slug %}" class="sidebar-item nav-link text-muted">
        <i class="{{ category.icon }} sidebar-item-icon"></i>
        <span class="sidebar-item-text">{{ category.title }}</span>
      </a>
    {% endif %}
  {% endfor %}
{% else %}
  <li>
    <strong>No available category at this moment, please check back later.</strong>
  </li>
{% endif %}