{% load crispy_forms_tags %}

<!-- COMMENT FORM -->
<div id="post-form" style="{% if is_post_update %} display: block {% else %} display: none {% endif %}">
  <h5 class="mb-3">{{ title }}</h5>
  <form style="margin-top: 0.2em;" action="{{ form_action }}"  method="post"
    enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    
    <input type='hidden' name='thread_slug' value="{{ thread.slug }}" />
    
    {{ form|crispy }}

    <button id="customFileChooser" type="button" class="btn btn-secondary pull-right mb-4 float-right">
      <i class="fa fa-cloud-upload-alt mr-1"></i>Upload Image
    </button>

    <input id="realFileChooser" type="file" name="image" style="display: none;" data-url="{% url 'attachments:upload_img' %}"
      data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    <div class="float-right">
      {% if not form.instance.pk %}
        <button type="submit" class="btn btn-primary mr-2 js-post-submit-btn">Post</button>
      {% else %}
        <button type="submit" class="btn btn-primary mr-2 js-post-submit-btn">Save</button>
      {% endif %}
    </div>
  </form>

  <div id="progress-bar-wrapper" class="mb-3" style="display: none;">
    <div class="progress w-100">
      <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        100%
      </div>
    </div>
  </div>

  <div style="display: none;" class="attachment-menu mb-5">
    <div class="attachment-menu-item d-flex justify-content-between align-items-center w-100 mb-2 p-3 rounded bg-light">
      <img src="#" width="70" height="80">
      <div>
        <button class="insert-url-btn btn btn-light border-primary text-primary" data-src="">Insert</button>
        <button style="display: none" class="remove-url-btn  btn btn-light border-secondary text-secondary ml-2" data-src="">Remove</button>
      </div>
    </div>
  </div>
</div>
