{% load static %}
{% load humanize %}
{% load new_thread_tag %}


<div class="media">
   <div class="media-left">
    <a href="{{ comment.user.userprofile.get_absolute_url }}">
      {% if comment.user.userprofile.has_avatar %}
        <img  style="border-radius: 50%; max-width: none; max-height: none; margin: auto; object-fit: cover;" width="64" height="64" class="media-object" src="{{ comment.user.userprofile.get_avatar_url }}">
      {% else %}
        <img  style="border-radius: 50%; max-width: none; max-height: none; margin: auto; object-fit: cover;" width="64" height="64" class="media-object" src="{% static 'img/avatar.svg' %}">
      {% endif %}
      
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
    
  </div>
</div>