{% load static %}
{% load humanize %}
{% load new_thread_tag %}
<!-- BEGINNING OF COMMENT -->
<div class="comment" id="comment{{ comment.id }}"> 
  <div class="comment-profile-img">
        {% if comment.user.userprofile.attachment_set.count > 0 %}
          <a href="{{ comment.user.userprofile.get_absolute_url }}"><img  style="display: inline" src="{{ comment.user.userprofile.attachment_set.all.first.image.url }}" width="50" height="50" alt="" class="profile-img"></a>
          {% else %}
            <a href="{{ comment.user.userprofile.get_absolute_url }}"><img  style="display: inline" src="{% static 'img/avatar.svg' %}" width="50" height="50" alt="" class="profile-img"></a>
        {% endif %}
        
  </div>

<div class="comment-message"> <!-- COMMENT-MESSAGE -->
  <div style="color: #448AFF" class="text-muted username"><a href="{{ comment.user.userprofile.get_absolute_url }}">{{ comment.user.username }}</a> {% if comment.parent %} <i class="glyphicon glyphicon-triangle-right"></i> <span><a href="{{ comment.parent.get_precise_url }}"> {{ comment.parent.user.username }}</a></span> {% endif %} <span class="text-muted comment-created">{{ comment.created|date:"M d, Y, g:i:s a" }}</span></div>
  <!-- date:"M d, Y, g:i:s a" -->
  <div>
    {{ comment.marked_message|safe }}
    <div class="comment-ctrl">
      <div class="comment-action-btns">
        <a class="btn btn-default" type="button"><i class="material-icons md-16">reply</i> Reply</a>
        <a class="btn btn-default" type="button"><i class="material-icons md-16">edit</i> Modify</a>
        <a class="btn btn-default" type="button"><i class="material-icons md-16">history</i> View Edits</a>

      <a href="{% comment_edit_url comment.get_reply_url comments.number %}"><button class="thread-btn reply"><span style="position: relative; bottom: -1.9px;"><i class="material-icons">reply</i></span> Reply</button></a> <a href="{{ comment.get_upvote_url }} ">&nbsp;&nbsp;{% if comment.user != request.user %}
          <button {% if request.user in comment.upvoters.all %} style="color: #9C27B0;" {% endif %} class="thread-btn like"><span style="font-size: 11.46px"><i class="glyphicon glyphicon-arrow-up"></i></span> Upvote {% if comment.upvoters.count > 0 %}
          {{ comment.upvoters.count }}
        {% endif %}</button></a><a href="{{ comment.get_downvote_url }}">&nbsp;&nbsp;<button {% if request.user in comment.downvoters.all %} style="color: #9C27B0;" {% endif %} class="thread-btn like"><span style="font-size: 11.46px"><i class="glyphicon glyphicon-arrow-down"></i></span> Downvote {% if comment.downvoters.count > 0 %}
          {{ comment.downvoters.count }}
        {% endif %}</button></a>
      {% endif %}
      {% if request.user == comment.user %}
        {% if comment.is_starting_comment %}
          <a href="{% thread_edit_url comment.thread.get_absolute_url comments.number %}"><button class="thread-btn reply-modify-thread-btn"><span style="font-size: 11.46px;"><i class="material-icons md-18">edit</i></span> Modify</button></a>
        {% else %}
          <a href="{% comment_edit_url comment.get_update_url comments.number %}"><button class="thread-btn reply-modify-thread-btn"><span style="font-size: 11.46px;"><i class="glyphicon glyphicon-pencil"></i></span> Modify</button></a>
        {% endif %}
      {% endif %}
      <button type="button" class="thread-btn reply-modify-thread-btn" data-toggle="modal" data-target="#myModal{{ comment.pk }}"><span style="font-size: 11.46px"><i class="material-icons md-21">history</i></span> View History</button>
    </div>
      {% include "includes/comment_history.html" with comment=comment %}
      <a class="text-muted thread-title-bottom" href="{{ comment.thread.get_absolute_url }}#"><i class="fas fa-long-arrow-alt-up"></i> {{ comment.thread.title|truncatechars:50 }}</a>
    </div>
  </div>

  </div> <!-- END OF COMMENT-MESSAGE-->                    
  
</div> 
<!-- END OF COMMENT -->