<a class="filter dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
  <span class="{% if dropdown_active_text in filter_dropdown_list_item_keys %}
                {% for key, value in filter_dropdown_list %}
                  {% if key == dropdown_active_text %}
                      text-primary font-weight-bold
                  {% endif %}
                {% endfor %}
              {% else %}
                text-dark
              {% endif %}"
  >
    {% if dropdown_active_text in filter_dropdown_list_item_keys %}
        {% for key, value in filter_dropdown_list %}
            {% if key == dropdown_active_text %}
                {{ value }}
            {% endif %}
        {% endfor %}
    {% else %}
        {{ filter_text }}
    {% endif %}
  </span>
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm">
  {% for key, value in filter_dropdown_list %}
    <a class="dropdown-item {% if dropdown_active_text == key %}bg-primary text-white{% endif %}"
      href="{% if category %}/categories/{{ category.slug }}/{{ key }}/{% else %}/threads/{{ key }}/{% endif %}">
      {{ value }}
    </a>
  {% endfor %}
</div>
<span style="top: 1.8rem; position: absolute;"
  class="{% for key, value in filter_dropdown_list %}{% if key == dropdown_active_text %}thread-active{% endif %}{% endfor %}">
</span>