{% if request.user.is_authenticated and request.user.is_moderator %}
  <div class="d-flex justify-content-end">
    {% if unseen_query %}
      <a href="{{ url }}" class="btn btn-sm btn-light mb-2">
        <i class="fas fa-eye-slash mr-1"></i>View visible {{ text }}
      </a>
    {% else %}
      <a href="{{ url }}{% if 'unseen=1' not in url %}?unseen=1{% endif %}&unseen_c=1" 
        class="btn btn-sm btn-light mb-2">
        <i class="fas fa-eye-slash mr-1"></i>View invisible {{ text }}
      </a>
    {% endif %}
  </div>
{% endif %}