{% load static %}

{% load forum_template_tags %}
{% load humanize %}

<div class="media">  
  <img src="{{ thread.user.get_avatar_url }}" height="60" width="60" class="avatar mr-3 d-none d-md-block" alt="..." />
  <div class="media-body">
    <h5 class="mt-0 mb-0">
      <a href="{% thread_url thread.get_absolute_url thread.comment_count thread.new_c_id thread.new_c_num %}" class="text-dark js-stretched-link">
        {{ thread.title }}
      </a>
    </h5>
    
    <div>
      {% if not category %}
        <span class=" d-inline-block mb-1 badge badge-light text-muted font-weight-bold py-1">
          {{ thread.category.title }}
        </span>
      {% endif %}
      {% if thread.new_c_num > 0 %}
        <span class="badge badge-info py-1 ml-2">
          {{ thread.new_c_num }} new
        </span>
      {% endif %}
    </div>

    <div class="media-footer text-muted">
      <small class="mr-4"><i class="far fa-comments"></i>
        {% if thread.comment_count %}
          {{ thread.comment_count }}
        {% else %}
          0
        {% endif %}
      </small>

      {% if thread.final_comment_user %}
        <a href="{{ thread.final_comment_user.get_absolute_url }}" class="text-muted js-thread-item-username">
          <small class="mr-4">
            <i class="far fa-user text-muted mr-1"></i>{{ thread.final_comment_user.username|capfirst }}
          </small>
        </a>
      {% else %}
        <a href="{{ thread.user.get_absolute_url }}" class="js-thread-item-username">
          <small class="mr-4 text-muted js-stretched-link-cancel">
            <i class="far fa-user text-muted mr-1"></i>{{ thread.user.username|capfirst }}
          </small>
        </a>
      {% endif %}

      <small class="mr-4">
        <i class="far fa-clock"></i>
        {% if thread.final_comment_time %}
          {{ thread.final_comment_time|naturaltime|splittime }}
        {% else %}
          {{ thread.created|naturaltime|splittime }}
        {% endif %}
      </small>

      <small class="mr-4">
        <i class="far fa-eye mr-1"></i>
        {% if thread.hit_counts.first.hits %}
          {{ thread.hit_counts.first.hits }}
        {% else %}
          0
        {% endif %}
      </small>
    </div>
  </div>
</div>