<a class="filter dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
  <span 
    class="{% if current_thread_filter in filter_dropdown_list_item_keys %}
            {% for key, value in filter_dropdown_list %}
              {% if key == current_thread_filter %}
                text-primary font-weight-bold
              {% endif %}
            {% endfor %}
          {% else %}
            text-secondary
          {% endif %}">
    {% if current_thread_filter in filter_dropdown_list_item_keys %}
        {% for key, value in filter_dropdown_list %}
          {% if key == current_thread_filter %}
            {{ value }}
          {% endif %}
        {% endfor %}
    {% else %}
        {{ filter_text }}
    {% endif %}
  </span>
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm small-font-size py-1">
  {% for key, value in filter_dropdown_list %}
    <a class="dropdown-item {% if current_thread_filter == key %}bg-primary text-white{% endif %}"
      href="{% if category %}/categories/{{ category.slug }}/{{ key }}/{% else %}/threads/{{ key }}/{% endif %}">
      {{ value }}
    </a>
  {% endfor %}
</div>
<span class="thick-baseline 
        {% for key, value in filter_dropdown_list %}{% if key == current_thread_filter %}thread-active{% endif %}{% endfor %}
      "
>
</span>