{% load forum_template_tags %}

<ul class="nav nav-tabs profile-home__nav-tabs border-bottom-0" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="font-weight-bold nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      Comments
    </a>
  </li>

  <li class="nav-item">
    <a class="font-weight-bold nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      Threads
    </a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <ul class="list-group mb-4 comment-list-group">
      {% for comment in recent_comments %}
        <li class="list-group-item rounded-0">
          {% include "includes/comment.html" with comment=comment %}
        </li>
      {% empty %}
        {% include "includes/empty_state_card.html" with icon="far fa-comments" text="No comments yet" %}       
      {% endfor %}                
    </ul>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <ul class="list-group mb-4 thread-list-group">
      {% for thread in recent_threads %}
        <li class="list-group-item">
          {% include "includes/thread.html" with thread=thread %}
        </li>
      {% empty %}
        {% empty_thread_description "me" as description %}
        {% include "includes/empty_state_card.html" with icon="fas fa-book" text=description %}       
      {% endfor %}
    </ul>
  </div>
</div>