<span class="d-inline-block mt-1 mr-3">
  <b>{{ comment_count }}</b>
  <span class="text-muted ml-1">
    Comment{{ comment_count|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ followers }}</b>
  <span class="text-muted ml-1">
    Follower{{ followers|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ following }}</b>
  <span class="text-muted ml-1">Following</span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ thread_count }}</b>
  <span class="text-muted ml-1">
    Thread{{ thread_count|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ thread_following }}</b>
  <span class="text-muted ml-1">Thread Following</span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ total_likes }}</b>
  <span class="text-muted ml-1">
    Like{{ total_likes|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <b>{{ total_liked }}</b>
  <span class="text-muted ml-1">Liked</span>
</span>