<span class="d-inline-block mt-1 mr-3">
  <strong>{{ comment_count }}</strong>
  <span class="text-muted ml-1">
    Comment{{ comment_count|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ followers }}</strong>
  <span class="text-muted ml-1">
    Follower{{ followers|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ following }}</strong>
  <span class="text-muted ml-1">Following</span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ thread_count }}</strong>
  <span class="text-muted ml-1">
    Thread{{ thread_count|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ thread_following }}</strong>
  <span class="text-muted ml-1">Thread Following</span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ total_upvotes }}</strong>
  <span class="text-muted ml-1">
    Upvote{{ total_upvotes|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ total_likes }}</strong>
  <span class="text-muted ml-1">
    Like{{ total_likes|pluralize }}
  </span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ total_upvoted }}</strong>
  <span class="text-muted ml-1">Upvoted</span>
</span>

<span class="d-inline-block mt-1 mr-3">
  <strong>{{ total_liked }}</strong>
  <span class="text-muted ml-1">Liked</span>
</span>