{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load new_thread_tag %}

{% load static %}

{% block title %}
    {{ thread.title }}
{% endblock title %}

{% block stylesheet %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/thread_style.css' %}">
{% endblock %}

{% block row %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
      <li class="active"><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
      {% if comments.number > 1 %}
        <li><a href="{{ thread.get_absolute_url }}?page={{ comments.number }}">{{ comments.number }}</a></li>
      {% endif %}
    </ol>
{% endblock breadcrumb %}

{% block content %}
      <br>
        <!-- THREAD INFORMATION -->
        <div class="thread">

          <p class="thread-title">
            <a>{{ thread.title }}</a><br /> by <span class="thread-user-info"><a href="{{ thread.user.userprofile.get_absolute_url }}">{{ thread.user.username }}</a> created at: {{ thread.created}} / updated at: {{ thread.modified }}</span>
          </p>

          <!-- thread action -->
          <div class="thread-ctrl">
              <a href="#"><button class="thread-btn reply"><i class="fas fa-reply"></i> Reply</button></a> <a href="{{ comment.get_absolute_url }}">&nbsp;&nbsp;<a href="#"><button class="thread-btn like"><i class="fas fa-thumbs-up"></i> Like 3600</button></a></a>
             {% if request.user == thread.user %}
              <a href="{% thread_edit_url thread.get_absolute_url comments.number %}"><button class="thread-btn reply-modify-thread-btn"><i class="fa fa-edit"></i> Modify</button></a>
             {% endif %}
             <a  href="{{ thread.get_thread_follow_url}}">{% if user.userprofile in thread.followers.all %}<button class="thread-btn" id="unfollow-thread-btn"><i class="fa fa-users"></i> Unfollow {{ thread.followers.count }}</button> {% else %}<button class="thread-btn" id="follow-thread-btn">Follow <i class="fa fa-users"></i></button>{% endif %}</a>
          </div>
          <!-- end of thread action -->

        </div>
        <!-- END OF THREAD INFORMATION -->

        {% if comments %}
            {% for comment in comments %}
              {% include "includes/comment.html" with comment=comment %}    
            {% endfor %}

            {% if new_comment_count %}
              {% include "includes/new_comment.html" with new_comment_count=new_comment_count new_comment_url=new_comment_url %} 
            {% endif %}

            {% include "includes/comment_pagination.html" with comments=comments %}
            
        {% else %}
          <ul style="margin-top: 1.7em;" class="list-group">
            <li style="padding: 0;" class="list-group-item">
              <h4 class="text-center">Be the first to comment</h4>
            </li>
          </ul>
        {% endif %}
      
        {% include "includes/comment_form.html" with form=form form_action=form_action %}       

        <br>
    {% endblock content %}
{% endblock row %}
