Dear {{ user.username }},

Someone requested a password reset for the email address on this account. If it wasn't you can safely disregard
this email and your password will remain the same.

If you do actually want to reset your password, visit the link below:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours

If the above link is not clickable, please copy the whole link and paste it in a new browser window instead.

Cheers,
The ClassicForum Team
