{% extends 'auth_base.html' %}

{% block title %}
  Password changed
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 offset-0 col-sm-10 offset-sm 1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Password Changed!</h3>
          <p>
            Your password was successfully changed.
          </p>
					<a href="{% url 'accounts:login' %}" class="btn btn-success btn-block">
						<i class="fas fa-sign-in-alt mr-1"></i>Return to login
					</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}