{% extends 'auth_base.html' %}

{% block title %}
	Password Update
{% endblock title %}

{% block auth_content %}
	<div class="container">
		<div class="row mt-4">
			<div class="col-12 offset-0 col-sm-10 offset-sm 1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
				<div class="alert alert-success" role="alert">
					<p>
						<i class="far fa-check-circle mr-1"></i>Your password has been updated.
					</p>
					<a href="{% url 'home' %}" class="btn btn-success btn-block">
						<i class="fas fa-home"></i> Return to home page
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock auth_content %}