{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
      
    <style type="text/css">
		body {
			background-color: #FFF;
		}

		.main {
			margin-left: 27%;
		}

		.password-change-done {
			width: 55%;
			margin-top: 2em;
		}
	</style>
{% endblock stylesheet %}

{% block title %}Change password successful{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
  <div class="alert alert-success password-change-done" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'home' %}" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i> Return to home page</a>
{% endblock content %}
