{% extends 'profile_base.html' %}

{% load forum_template_tags %}
{% load humanize %}
{% load static %}

{% block profile_content %}
  <main>
    <div class="container ">
      <div class="row offset-lg-1">
        <div class="col-7 col-lg-7 col-xl-8 mt-4">
          <!-- Mobile -->
          <img src="{{ userprofile.get_avatar_url }}" height="90" width="90" class="mr-3 d-md-none avatar" alt="..." /><!-- Mobile -->

          <!-- Desktop -->
          <div class="d-none d-md-table-cell">
            <img src="{{ userprofile.get_avatar_url }}" height="150" width="150" class="mr-3 d-none d-sm-block avatar" alt="..." />
          </div><!-- Desktop -->

          <div class="d-none d-md-table-cell align-top">
            {% include 'accounts/includes/profile_home_info_fragment.html' with userprofile=userprofile %}
          </div>
        </div>

        <div class="col-5 col-lg-3 col-xg-2 mt-4 d-flex align-items-start justify-content-end">
          {% if request.user.is_authenticated and request.user == userprofile %}
            <a href="{% url 'accounts:user_edit' userprofile.username %}" class="btn btn-outline-primary float-right">
              Edit profile
            </a>
          {% endif %}
              
          {% if request.user.is_authenticated and request.user != userprofile %}
            <form method="post" action="{{ userprofile.get_user_follow_url }}">
              {% csrf_token %}              
              <button
                type="submit"
                data-action="{{ userprofile.get_user_follow_url }}" 
                class="mt-2 font-weight-bold btn js-user-follow-btn
                {% if request.user in userprofile.followers.all %}
                  btn-outline-primary 
                {% else %}
                  btn-primary
                {% endif %}"
              >
                {% if request.user in userprofile.followers.all %}
                  <span class="js-user-follow-check-icon">
                    <i class="fas fa-check mr-1"></i>
                  </span>
                  <span class="js-user-follow-btn-text">Following</span>
                {% else %}
                  <span class="js-user-follow-check-icon" style="display: none;">
                    <i class="fas fa-check mr-1"></i>
                  </span>
                  <span class="js-user-follow-btn-text">Follow</span>
                {% endif %}
              </button>
            </form>
          {% endif %}
        </div>
      </div><!-- Profile Info -->

      <!-- Profile Info (responsive-fix)-->
      <div class="d-md-none row mt-2">
        <div class="col-12">
          {% include 'accounts/includes/profile_home_info_fragment.html' with userprofile=userprofile %}
        </div>
      </div><!-- Profile Info (responsive-fix)-->

      <div class="row mt-3 offset-lg-1">
        <div class="col-sm-12">
          {% include 'accounts/includes/profile_home_activity.html' with userprofile=userprofile active_category=active_category %}
        </div>
      </div>

      <div class="row mt-3 offset-lg-1 mb-4">
        <div class="col-sm-12">
          {% include 'accounts/includes/profile_home_stats.html' with userprofile=userprofile %}
        </div>
      </div>

      <div class="row offset-lg-1 mb-5">
        <div class="col-12 col-lg-8">
          <h5>Recent Posts</h5>
          <hr>
          {% include 'accounts/includes/profile_home_recent_posts.html' with userprofile=userprofile recent_comments=recent_comments recent_threads=recent_threads %}         
        </div>
      </div>
  </main>
{% endblock profile_content %}