{% extends 'accounts/profile_base.html' %}

{% load static %}

{% block  profile_content %}
  <main>
    <div class="container mt-lg-4">
      <div class="row offset-lg-1 mt-2 mb-4">
        <div class="col-12">
          <h5 class="mb-3 profile-content-header">User Following</h5>
        </div>

        {% for person in user_following %}
          <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-4">
            <div class="card  align-items-center py-3 px-3 follow-card">
              {% if person.avatar_url %}
                <img src="{{ person.avatar_url }}" class="avatar" width="110" height="110">
              {% else %}
                <img src="{% static 'img/avatar.svg' %}" class="avatar" width="110" height="110">
              {% endif %}

              <h5 class="mt-2">
                <a class="text-dark" href="{{ person.get_absolute_url }}">{{ person.username }}</a>
              </h5>

              {% if request.user.is_authenticated %}
                {% if request.user == person %}
                  <a href="{% url 'accounts:user_stats' request.user.username %}"
                    class="btn btn-primary btn-sm text-bold mt-2 font-weight-bold">
                    You
                  </a>
                  {% elif request.user in person.following.all %}
                    <a href="{{ person.get_user_follow_url }}" class="btn btn-outline-primary btn-sm mt-2 font-weight-bold">
                      <i class="fas fa-check mr-1"></i>Following
                    </a>
                  {% else %}
                    <a href="{{ person.get_user_follow_url }}" class="btn btn-primary btn-sm text-bold mt-2 font-weight-bold">
                      Follow
                    </a>  
                {% endif %}
              {% else %}
                <a href="{{ person.get_user_follow_url }}" class="btn btn-primary btn-sm text-bold mt-2 font-weight-bold">
                  Follow
                </a>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <div class="col-12 col-lg-8">
            {% include "includes/empty_state_card.html" with icon="fas fa-user-friends" text="Yet to follow any user" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock profile_content %}
