{% extends 'profile_base.html' %}

{% load forum_template_tags %}
{% load humanize %}
{% load static %}

{% block  profile_content %}
  <main>
    <div class="container mt-lg-4">
      <div class="row offset-lg-1">
        <div class="notification col-12 col-lg-9">
          <h5 class="mb-3">Notifications</h5>
          <ul class="list-group mb-4 notification-list-group">
            {% for notif in notifications %}
              <li class="profile__notif-list list-group-item {% if notif.unread %}bg-light{% endif %}">
                {{ notif.get_description }}
              </li>
            {% empty %}
              <div class="card">
                <div class="card-header text-dark text-center font-weight-bold bg-white">
                  No Notifications yet
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1 mt-4">
          {% include "includes/pagination.html" with page_obj=notifications base_url=base_url prev_url=prev_url next_url=next_url %}
        </div>
      </div>
    </div>
  </main>
{% endblock profile_content %}
