{% extends 'profile_base.html' %}

{% load static %}

{% block  profile_content %}
<main>
  <div class="container mt-lg-4">
    <!-- Navigation Scroller Item Detail -->
    <div class="row offset-lg-1 mt-2 mb-4">
      <div class="col-12">
        <h5 class="mb-3">Followers</h5>
      </div>

      {% for person in user_followers %}
      <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-4">
        <div class="card  align-items-center py-3 px-3 follow-user" style="width: 8.8rem; background-color: #ECEFF1;">
          {% if person.avatar_url %}
          <img src="{{ person.avatar_url }}" width="110" height="110" class="rounded-circle">
          {% else %}
          <img src="{% static 'img/avatar.svg' %}" width="110" height="110" class="rounded-circle">
          {% endif %}
          <h5 class="mt-2"><a class="text-dark" href="{{ person.get_absolute_url }}">{{ person.username }}</a></h5>

          {% if request.user.is_authenticated %}
          {% if request.user != person %}
          {% if request.user in person.followers %}
          <a href="{{ person.get_user_follow_url }}" class="btn btn-outline-primary btn-sm mt-2 font-weight-bold">
            <i class="fas fa-check mr-1"></i>Following
          </a>
          {% else %}
          <a href="{{ person.get_user_follow_url }}" class="btn btn-primary btn-sm text-bold mt-2 font-weight-bold">
            Follow
          </a>
          {% endif %}
          {% else %}
          <a href="{% url 'accounts:user_stats' request.user.username %}"
            class="btn btn-primary btn-sm text-bold mt-2 font-weight-bold">
            You
          </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% empty %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="text-center text-secondary mt-2">
            <div style="font-size: 2rem"><i class="fas fa-user-friends"></i></div>
            <div>
                <p style="font-size: 1.3rem; margin-bottom: 0.5rem;">No followers yet</p>
            </div>
          </div>
        </div>
        
        
      </div>
      {% endfor %}
    </div>
    <!-- Navigation Scroller Item Detail -->
  </div>
</main>
{% endblock profile_content %}