{% extends 'base.html' %}

{% load forum_template_tags %}
{% load humanize %}
{% load static %}

{% block sidebar %}
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading font-weight-bold">
      <span class="d-inline-block d-md-none" id="close-sidebar">&times;</span>
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets/bootstrap-solid.svg' %}" width="30" height="30" alt="" />
        <span>ClassicForum</span>
      </a>
    </div>
    <div class="list-group list-group-flush mt-3 profile-sidebar">
      {% get_profile_sidebar_list request userprofile current_profile_page %}
    </div>
  </div>
{% endblock sidebar %}

{% block content %}
  <div class="row mb-4 d-flex d-lg-none bg-white">
    <div class="col-12">
      <div class="nav-scroller border-top border-bottom">
        <nav class="nav nav-underline ">
          {% get_profile_sidebar_list request userprofile current_profile_page True %}                
        </nav>
      </div>
    </div>
  </div>

  {% if request.user != userprofile %}
    <div class="container mt-lg-4">
      <div class="row offset-lg-1 my-2">
        <div class="col-12">
          <h3>You are viewing {{ userprofile.username }}'s profile</h3>
        </div>
      </div>
    </div>
  {% endif %}

  {% block profile_content %}{% endblock profile_content %}
{% endblock content %}

{% block javascript %} 
  <script src="{% static 'js/user-profile.js' %}"></script>
{% endblock javascript %}
