{% extends 'accounts/profile_base.html' %}


{% load forum_template_tags %}
{% load humanize %}
{% load static %}

{% block profile_content %}
  <main>
    <div class="container mt-lg-4">
      <div class="row offset-lg-1">
        <div class="col-12">
          <h5 class="mb-3">All Comments</h5>
        </div>

        <div class="col-12 col-lg-8">
          <ul class="list-group mb-4 comment-list-group">
            {% for comment in comments %}
              <li class="list-group-item">
                {% include "includes/comment.html" with comment=comment %}
              </li>
            {% empty %}
              {% include "includes/empty_state_card.html" with icon="far fa-comments" text="No comments yet" %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
          {% include "includes/pagination.html" with page_obj=comments base_url=base_url prev_url=prev_url next_url=next_url %}
        </div>
      </div>      
    </div>
  </main>
{% endblock profile_content %}