{% extends 'home.html' %}

{% block title %}
  {{ category.title }}
{% endblock title %}

{% block breadcrumb %}
  <ol class="d-none d-md-flex ml-md-auto breadcrumb bg-white justify-content-end align-items-center 
    rounded-0 py-0 pt-auto mb-0 nav-breadcrumb">
    <li class="breadcrumb-item">
      <span class="nav-breadcrumb__text-light text-muted">
        <a href="/" class="text-decoration-none" class="text-secondary">
          Home
        </a>
      </span>
    </li>
    <li class="breadcrumb-item">
      <span class="nav-breadcrumb__text-bold text-muted">
        {{ category.title }}
      </span>
    </li>
  </ol>
{% endblock breadcrumb %}

{% comment %} {% include 'includes/thread_add_partial.html' %} {% endcomment %}
