name: Django CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run pre-commit (Linters)
        uses: pre-commit/action@v3.0.1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Prepare Static Files (Fixes Django Compressor Manifest)
        run: python manage.py collectstatic --noinput

      - name: Run Tests
        run: python manage.py test
