.dropdown-hover-fix {
  .dropdown-item:first-child:hover {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .dropdown-item:last-child:hover {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}